@{
    Layout = null;
    }
<script type="text/javascript">
    
</script>
<div>
    @Html.Label(LiveAzure.Resource.Model.Product.ProductExtendAttribute.OptResult)
    @Html.DropDownList("productExtendOptionalResult", (List<SelectListItem>)ViewBag.oOptionalResultList)
</div>