@*<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.6.2.js")"></script>
<script src="../../Scripts/jquery-1.4.4-vsdoc.js" type="text/javascript"></script>
<script src="../../Scripts/LiveTree/jquery.ztree-2.6.js" type="text/javascript"></script>
<script type="text/javascript">

    var nTreeObject = new homeTreeObject();
    nTreeObject.createTree("HomeNavigationTree", "/Home/TreeLoad", "/Home/TreeExpand", "", "", false);

    function homeTreeObject() {
       // debugger;
        var tree;
        var treesetting;
        var currentProgUrl;
        this.selectNode;

        this.createTree = function (treeId, loadUrl, asyncUrl, changeUrl, rmenuId, checkable) {
            //树状结构的对象
            var zTree1;

            //树属性的设定
            var setting;

            var bCheckable = checkable;
            var strAsyncUrl = asyncUrl;
            //var strAsyncParam = asyncParam;													//异步参数不需要，直接指定为对象的Guid        
            var strRmenuId = rmenuId;
            var strChangeUrl = changeUrl;
            var strLoadUrl = loadUrl;
            var strTreeId = treeId;

            //设定数结构的参数
            setting = {
                editable: false, 															    //树不可删除
                edit_renameBtn: false, 															//编辑按钮不可用，不需要用户指定
                edit_removeBtn: false, 															//删除按钮不可用，不需要用户指定
                checkable: bCheckable, 															//用户指定是否需要checkbox，需要用户指定
                keepParent: true, 																//默认值，不需要用户指定
                keepLeaf: true, 																//默认值，不需要用户指定
                async: true, 																	//默认值，不需要用户指定
                asyncUrl: strAsyncUrl, 															//用户指定url
                asyncParam: ["id"], 															//用户指定参数
                callback: {
                    click: zTreeOnClick
                }
            };

            //获取树节点信息
            $.ajax({
                type: "GET",
                url: strLoadUrl,
                success:
                function (data) {
                    //将获取的json字符串转换为json对象
                    var testdata = jQuery.parseJSON(data);
                    //生成树状结构
                    zTree1 = $("#" + strTreeId).zTree(setting, testdata);
                    //设定全局变量，给对象内部其它函数调用
                    tree = zTree1;
                    treesetting = setting;
                }
            });

            //指定多少层的树节点不能再展开，参数为10
            function beforeAsync(treeId, treeNode) {
                if (treeNode.level > 10) {
                    return false;
                }
                return true;
            }

            //点击树节点事件
            function zTreeOnClick(event, treeId, treeNode) {
                currentProgUrl = treeNode.progUrl;
                this.selectNode = treeNode;
                //to do 
                $("#main_content_right").load(currentProgUrl);
            }
        };
}
</script>
<div>
    <ul id="HomeNavigationTree" class="tree" style="width: 230px; overflow: auto;">
    </ul>
</div>*@