@{
    Layout =null;  
}
<div class="show">
    <table style="width:770px;">
    <tr>
            <td class="td_style1_img">
                <img src="@Url.Content("~/Content/img/show01.jpg")" alt="" style="width:50px;height:50px;" />
            </td>
            <td class="td_style1_name">
                <a name="anchor" href="#">[打包42平米]四合地板 三层实木复合地板 橡木本色</a>
            </td>
            <td>
                <span>销售价：</span><span class="price_now">49</span><span>市场价：</span><span class="price_del">119</span>
            </td>
    </tr>
</table>
</div>