<select id="SearchSelect">
    <option value="0">SKUName</option>
    <option value="1">SKUCode</option>
    <option value="2">SKUBarcode</option>
    <option value="3">Time</option>
</select>
<span id="SearchItem">
    <input type="text" id="SearchItem" />
</span>