@{
    ViewBag.Title = "帮助中心";
    Layout = "~/Views/Shared/CHN/_Layout.cshtml";  
}
<div class="List_left">
    <div class="List">
        <span>帮助中心</span>
        <dl>
            <dt>强化地板</dt>
	            <dd>
	            <ul>
		            <li><a href="#">论坛社区</a></li>
		            <li><a href="#">新闻文章</a></li>
		            <li><a href="#">企业网站</a></li>
	            </ul>
	            </dd>
            <dt>实木地板</dt>
	            <dd>
	            <ul>
		            <li><a href="#">论坛社区</a></li>
		            <li><a href="#">博客主页</a></li>
	            </ul>
	            </dd>
            <dt>多层地板</dt>
	            <dd>
	            <ul>
		            <li><a href="#">AJAX</a></li>
		            <li><a href="#">JQUERY</a></li>
		            <li><a href="#">JAVASCRIPT</a></li>
	            </ul>
	            </dd>
        </dl>
    </div>
</div>
<div class="List_right">
    <div class="page_root">
        <div class="page_root_pic">
            <img alt="" src="@Url.Content("/Content/img/root.png")" />
        </div>
        <div class="page_root_content">
            当前位置：
        </div>
    </div>
    <div class="help_content">
        <span>注册新用户</span>
        <div class="help_split"></div>
        <div class="help_article">
            <p>您只要通过zhuchao注册开户，即可成为zhuchao会员。</p>
            <p>在zhuchao注册开户有以下两种途径：</p>

            <p> 1.网站注册</p>
            <p> (1)进入zhuchao网站后，点击页面右上方“用户注册”，将出现新页面，在相应提示处输入您的邮箱地址（zhuchao会自动默认注册用户名等同于邮箱地址）、密码（密码设置不要过于简单）、确认密码后点击“完成”即可，注册用户名是唯一的。注册成功后，您可以到网站“我的帐户-个人信息管理”进行个人信息的更新。</p>

            <p> (2)在订购过程中注册开户 进入 zhuchao- 选择您所需要的商品 - 点击放入购物车内 - 将出现新页面 - 在页面右侧点击“注册”进入注册页面。</p>

            <p> 点击这里注册新用户>></p>

            <p> 2.电话订购注册</p>
            <p>在您致电zhuchao销售中心订购产品过程中可以通过销售人员为您注册开户。</p>
        </div>
    </div>
</div>
