<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <appSettings>
    <add key="ClientValidationEnabled" value="true"/> 
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!-- 调试状态 -->
    <add key="IsDebug" value="true"/>

    <!-- 通用密钥序号 -->
    <add key="EncodeKeyIndex" value="2"/>

    <!-- 邮件设置 -->
    <add key="SmtpHost" value="smtp.zhuchao.com"/>
    <add key="SmtpPort" value="25"/>
    <add key="SmtpSender" value="筑巢家居商城"/>
    <add key="SmtpFrom" value="service@zhuchao.com"/>
    <add key="SmtpEnableSSL" value="false"/>
    <add key="SmtpUsername" value="service@zhuchao.com"/>
    <add key="SmtpPassword" value="200B145F5ABD5E7A1853E8ABBCA4DAB5"/>

    <!-- 亿美软通短信参数 -->
    <add key="EucpSerialNumber" value="3SDK-EMS-0130-LHWNL"/>
    <add key="EucpPassword" value="1BEADBF8B93CF73F"/>

    <!-- SQL Server 主数据库连接字符串 Data Source=localhost;Initial Catalog=Zhuchao;User Id=sa;Password=root -->
    <add key="SqlMainString" value="361145F197F6171E4BE0F8B37413F12537BD901031F8B853C93BA739DCDE1FBA269E2F11A626E9DEAB89A5FE604F0B0D2753B385943B8C78E764DEE3CFFB78DE724FDC896DDFBA30"/>
    <!-- SQL Server Web数据库连接字符串 Data Source=localhost;Initial Catalog=Zhuchao;User Id=sa;Password=root -->
    <add key="SqlWebString" value="361145F197F6171E4BE0F8B37413F12537BD901031F8B853C93BA739DCDE1FBA269E2F11A626E9DEAB89A5FE604F0B0D2753B385943B8C78E764DEE3CFFB78DE724FDC896DDFBA30"/>
    <!-- MySQL 连接字符串 Server=localhost;Port=2011;User Id=root;Password=root;Database=zhuchao;Pooling=false -->
    <add key="MySqlString" value="85B53256B1062DBCF0F7A7E791921C0E2279B4D1A6B67094AD086AC08DDBBA86C93029927F52616383648AAF68D390F1EF052D469CD1F3B6612D6229F86C9EC09CF3FB92A1E8E17822373DC059D70CA9C0C80B4D10667326"/>
    
    <!-- 系统支持的语言文化 -->
    <add key="SupportCulture" value="en-US,zh-CN,en-GB,fr-FR,de-DE"/>
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <sessionState mode="InProc" sqlConnectionString="Data Source=localhost;User Id=sa;Password=root" cookieless="false" timeout="100" />
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  
  
</configuration>
