@{
    Layout = null;
}
     
<div class="my_middle_category">
    <div class="acc_body">
          <div class="Accleft"> </div>

          <div class="acc_right">
                <div class="page_root">
                    <div class="page_root_pic">
                         <img alt="" src="@Url.Content("/Content/img/root.png")" />
                     </div>
                    <div class="page_root_content">
                     当前位置：
                     </div>
                </div>
                <div class="Cash">
                    <div class="Order_title"><b>我的评论</b></div>
                    <ul style="list-style:none">
                        <li class="user_tab_02" id="d1" onclick="MyCommentIndex()">未评论商品</li>
                        <li class="user_tab_02" id="d2" onclick="MyCommentLog()">我的评论</li>
                    </ul>
                    <div class="tab_container" id="tab_container">
                        
                    </div>
                </div>
          </div>
    </div>
</div>

<script language="javascript" type="text/javascript">

    document.getElementById('d1').className = 'user_tab_01';
//    document.getElementById('Cash_1').style.display = '';
//    document.getElementById('Cash_2').style.display = 'none';
//    var fundsID = '1';
//    function funds(id) {
//        var fundsObj = document.getElementById('Cash_' + fundsID);
//        if (fundsObj) {
//            fundsObj.style.display = 'none';
//            document.getElementById('d' + fundsID).className = 'user_tab_02';
//        }
//        var obj1 = document.getElementById('Cash_' + id);
//        document.getElementById('d' + id).className = 'user_tab_01';
//        obj1.style.display = '';
//        fundsID = id;
//        /*-----------
//        commentLog
//        -----------*/
//        $.ajax({
//            type: "post",
//            url: "/Account/MyCommentLog",
//            success: function (html) {
//                $("#log").html(html);
//            }
//        })
    //    }
    $(function () {
        $.ajax({
            type: "POST",
            url: "/Account/MyCommentIndex",
            success: function (html) {
                $("#tab_container").html(html);
                $("d1").className = 'user_tab_01';
            }
        });
    });
    function MyCommentLog() {
        document.getElementById('d1').className = 'user_tab_02';
        document.getElementById('d2').className = 'user_tab_01';
        $(function () {
            $.ajax({
                type: "POST",
                url: "/Account/MyCommentLog",
                success: function (html) {
                    $("#tab_container").html(html);
                }
            });
        });
    } 
    function MyCommentIndex() {
        document.getElementById('d2').className = 'user_tab_02';
        document.getElementById('d1').className = 'user_tab_01';
        $(function () {
            $.ajax({
                type: "POST",
                url: "/Account/MyCommentIndex",
                success: function (html) {
                    $("#tab_container").html(html);
                }
            });
        });
    }
</script>



