@{
    Layout = null;
}
<div id="Cash_1" class="tab_content">
    <div class="evaluate_goods_box">
        <div class="evaluate_goods_left"><a href="#"><img src="#" width="65" height="80" /></a></div>
        <div class="evaluate_goods_right">
                <h1><a href="#">无铅葡萄酒杯</a></h1>
				<h3><a href="#"><img src="@Url.Content("~/Content/img/comment.jpg")" alt="写评论" /></a></h3>
		</div>
	</div>

    <div class="evaluate_goods_box">
        <div class="evaluate_goods_left"><a href="#"><img src="#" width="65" height="80" /></a></div>
        <div class="evaluate_goods_right">
                <h1><a href="#">无铅葡萄酒杯</a></h1>
				<h3><a href="#"><img src="@Url.Content("~/Content/img/comment.jpg")" alt="写评论" /></a></h3>
		</div>
	</div>

    <div class="evaluate_goods_box">
        <div class="evaluate_goods_left"><a href="#"><img src="#" width="65" height="80" /></a></div>
        <div class="evaluate_goods_right">
                <h1><a href="#">无铅葡萄酒杯</a></h1>
				<h3><a href="#"><img src="@Url.Content("~/Content/img/comment.jpg")" alt="写评论" /></a></h3>
		</div>
	</div>

    <div class="evaluate_goods_box">
        <div class="evaluate_goods_left"><a href="#"><img src="#" width="65" height="80" /></a></div>
        <div class="evaluate_goods_right">
                <h1><a href="#">无铅葡萄酒杯</a></h1>
				<h3><a href="#"><img src="@Url.Content("~/Content/img/comment.jpg")" alt="写评论" /></a></h3>
		</div>
	</div>
</div>
