@{
    Layout = null; 
}
@model LiveAzure.Models.Member.MemberLevel

           <div class="acc_right">
                <div class="page_root">
                    <div class="page_root_pic">
                         <img alt="" src="@Url.Content("/Content/img/root.png")" />
                     </div>
                    <div class="page_root_content">
                     当前位置：
                     </div>
                </div>
                <div class="Cash">
                <div class="Order_title"><b>我的级别</b></div>
                <table class="user_rt_tb_01" cellpadding="0" cellspacing="0" border="0" width="803" align="right">
								  <tr>
									 <td width="128">您的会员级别是：</td>
									 <td width="652"><a class="user_vip_link" href="#"> >> 查看会员升级介绍</a></td>
								  </tr>
								  <tr>
									 <td>会员级别有效期：</td>
									 <td><font class="user_level_font_02">长期有效</font></td>
								  </tr>
								  <tr>
									 <td>最近一年内消费：</td>
									 <td class="user_vip_ttp_01">￥0.00 </td>
								  </tr>
								  <tr>
									 <td>消费成功后自动升级为</td>
								  </tr>
							</table>
                 </div>

  

          </div>
  
