@{
    Layout = null; 
}
<div class="acc_right">
    <div class="page_root">
        <div class="page_root_pic">
            <img alt="" src="@Url.Content("/Content/img/root.png")" />
        </div>
        <div class="page_root_content">
            当前位置：
        </div>
    </div>
    <div class="Cash">
        <div class="Order_title">
            <b>修改密码</b></div>
        <div class="Password_style">
            <form name="update_password" id="update_password" method="post" action="@Url.Content("/Account/SavePassword")">
            <table class="user_rt_tb_01" cellpadding="0" cellspacing="0" border="0" width="803"
                align="right">
                <tr>
                    <td width="128">
                        旧密码
                    </td>
                    <td width="652">
                        <input class="user_t_box" type="password" name="old_password" id="old_password" /><font
                            class="user_pwd_style_01"><label id="checkold_password"></label></font>
                    </td>
                </tr>
                <tr>
                    <td>
                        新密码
                    </td>
                    <td>
                        <input class="user_t_box" type="password" name="new_password1" id="new_password1" /><font
                            class="user_pwd_style_01"><label id="checknew_password1"></label></font>
                    </td>
                </tr>
                <tr>
                    <td>
                        再次输入新密码
                    </td>
                    <td>
                        <input class="user_t_box" type="password" name="new_password2" id="new_password2" /><font
                            class="user_pwd_style_01"><label id="checknew_password2"></label></font>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="border: none;">
                        @*<input type="image" src="@Url.Content("~/Content/img/submit.jpg")" alt=" 提交" />*@
                        <input type="submit" style="background-image:@Url.Content("~/Content/img/submit.jpg")" value="提交" />
                    </td>
                </tr>
            </table>
            </form>
        </div>
    </div>
</div>
