@{
    ViewBag.Title = "TestProgramSelector";
}

@model List<LiveAzure.Models.General.GeneralErrorReport>

@ControlManager.ProgramSelect()
<!--ProgramSelect必须放在body内部或其子元素内，而且整个页面只能出现一次-->

<h2>测试程序选择器</h2>
注意：直接绑定Program的Guid字段（考虑到后台处理方便，以及一些表中无对应对象字段）<br />
直接保存即可<br />
<b style="color:Red">下面演示的是两个程序选择同时存在时的情况。已经过测试多个程序选择器不会冲突</b><br />

程序选择器1
@Html.EditorFor(model => model[0].ProgID, "ProgramSelect", new { ID = "Prog1" })

<br />
<br />

程序选择器2
@Html.EditorFor(model => model[1].ProgID, "ProgramSelect", new { ID = "Prog2" })