<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 调试状态 -->
    <add key="IsDebug" value="true"/>
    <!-- 通用密钥序号 -->
    <add key="EncodeKeyIndex" value="2"/>
    <!-- 邮件设置 -->
    <add key="SmtpHost" value="smtp.zhuchao.com"/>
    <add key="SmtpPort" value="25"/>
    <add key="SmtpSender" value="筑巢家居商城"/>
    <add key="SmtpFrom" value="service@zhuchao.com"/>
    <add key="SmtpEnableSSL" value="false"/>
    <add key="SmtpUsername" value="service@zhuchao.com"/>
    <add key="SmtpPassword" value="200B145F5ABD5E7A1853E8ABBCA4DAB5"/>
    <!-- 亿美软通短信参数 -->
    <add key="EucpSerialNumber" value="3SDK-EMS-0130-LHWNL"/>
    <add key="EucpPassword" value="1BEADBF8B93CF73F"/>
  </appSettings>
</configuration>
