<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 调试状态 -->
    <add key="IsDebug" value="true"/>
    <!-- 通用密钥序号 -->
    <add key="EncodeKeyIndex" value="2"/>
    <!-- 邮件设置 -->
    <add key="SmtpHost" value="smtp.zhuchao.com"/>
    <add key="SmtpPort" value="25"/>
    <add key="SmtpSender" value="筑巢家居商城"/>
    <add key="SmtpFrom" value="service@zhuchao.com"/>
    <add key="SmtpEnableSSL" value="false"/>
    <add key="SmtpUsername" value="service@zhuchao.com"/>
    <add key="SmtpPassword" value="200B145F5ABD5E7A1853E8ABBCA4DAB5"/>
    <!-- 亿美软通短信参数 -->
    <add key="EucpSerialNumber" value="3SDK-EMS-0130-LHWNL"/>
    <add key="EucpPassword" value="1BEADBF8B93CF73F"/>
    <!-- MySQL 连接字符串 -->
    <add key="MySqlString" value="85B53256B1062DBCF0F7A7E791921C0E2279B4D1A6B67094AD086AC08DDBBA86C93029927F52616383648AAF68D390F1EF052D469CD1F3B6612D6229F86C9EC09CF3FB92A1E8E17822373DC059D70CA9C0C80B4D10667326"/>
  </appSettings>
</configuration>