<script type="text/javascript">
    var nTreeObject = new treeObject();
    nTreeObject.createTree("tree", "/StandardCategory/TreeLoad", "/StandardCategory/TreeExpand", "", "rMenu", true);
</script>
<div>sd</div>